<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>whoami
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd /ansible-elk-revised
echo pwd
export HOME=/home/$USER
vpcid=$(aws ec2 describe-vpcs --query 'Vpcs[*].VpcId' --output text)
subnetid=$(aws ec2 describe-subnets --filters "Name=vpc-id,Values=$vpcid")
ansible-playbook -i hosts --tags "setup" ec2.yml --extra-vars "vpcid=$vpcid vpc_subnet=$subnetid"
ansible-playbook -i hosts --tags "vinkar" ec2.yml
ansible-playbook -i hosts --tags "provision" ec2.yml</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
